<h2 mat-dialog-title>
  {{ data?.patient ? 'Editar Paciente' : 'Nuevo Paciente' }}
</h2>

<div mat-dialog-content>
  <form [formGroup]="form" class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cédula</mat-label>
      <input matInput formControlName="identification" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Género</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Femenino">Femenino</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de nacimiento</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dateOfBirth"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()">
    {{ data?.patient ? 'Guardar cambios' : 'Guardar' }}
  </button>
</div>
